*{
    font-family: Playfair Display, serif;
}
main{
    width: 80%;
    margin:0 auto;
}

h1{
    text-align:center;
    margin:auto;
}

img{
    display:block;
    border-radius: 50%;
    width: 200px;
    margin:auto;
}
ol{
    width: 300px;
    margin:auto;
}
a{
    display:block;
    width: 200px;
    margin-left: 900px;
}